<a href="https://colab.research.google.com/github/NambiarSidharth/flight-data-analysis/blob/master/flight-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/NambiarSidharth/flight-data-analysis/master/formatted_flights.csv")

In [0]:
df.head()

   Unnamed: 0  arr_delay                    name
0           0       11.0   United Air Lines Inc.
1           1       20.0   United Air Lines Inc.
2           2       33.0  American Airlines Inc.
3           3      -18.0         JetBlue Airways
4           4      -25.0    Delta Air Lines Inc.